# Ignore local files
__pycache__/

# Ignore config files
/www/djmanga/settings.py
/www/djmanga/.env
docker-compose.yml

# Ignore media files, but not media file structure
!/www/media/
/www/media/*
!/www/media/manga/
/www/media/manga/*

# Ignore logs
www/logs/*