@media screen and (max-width: 1000px) and (orientation: portrait) {
    .book__page-list li {
        width: 100%;
        height: unset;
        max-height: unset;
        padding: 0.25vw 0.5vw;
    }
    .book__page-list img {
        padding: unset;
        max-width: 100%;
        width: 100%;
    }
}