* {
    box-sizing: border-box;
}
body {
    background-color: #222222;
    color: #efefef;
    margin: 0;
    padding: 4em 0 0 0;
    font-size: 14px;
    font-family: 'Gill Sans', 'Arial', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #bbe1fa;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #bbe1fa;
    text-decoration: none;
}
a:hover {
    color: #eee;
}

nav {
    position: fixed;
    top: 0;
    background-color: #0f4c75;
    padding: 0.1em;
    width: 100%;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav li {
    padding: 0 1em;
    border-right: 1px solid #222222;
}
nav li.last {
    border-right: 0;
}
nav a {
    font-size: 1.25em;
    text-decoration: none;
}

main {
    padding: 0 1em;
}
.book__nav {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    font-size: 1.5em;
}
.book__nav li {
    padding: 0 0.25em;
}
.book__list,
.book__page-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}
.book__list {
    margin: -0.5%;
}
.book__page-list {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.book__nav.read-right,
.book__read-right {
    flex-direction: row;
}
.book__list a {
    text-decoration: none;
}
.book__list li {
    width: 16.66%;
    padding: 0.5%;
}
.book__list-book {
    background: #111111;
}
.book__list-book div {
    padding: 0.25em;
    text-align: center;
}
.book__list li > div {
    display: flex;
    flex-direction: column;
}
.book__list li span {
    text-align: center;
}
.book__list li .book__tag-list {
    flex-direction: row;
    flex-wrap: wrap;
}
.book__list img {
    width: 100%;
}
.book__list img {
    max-height: 55vh;
}
.book__page-list li {
    max-width: 100%;
    height: 90vh;
    max-height: 90vh;
    padding: 1%;
}
.book__page-list img {
    padding: 1%;
    height: 100%;
    max-width: 100%;
}

.tag__tree {
    width: 100%;
}
.tag__tree ul {
    padding-left: 0.5em;
}
.tag__tree li {
    width: unset;
}