{% extends "base.html" %}

{% block title %}Djmanga Reader - Manga{% endblock %}

{% block content %}
  <div class='manga'>
    <h1>Djmanga Reader</h1>
    {% if manga_list %}
      <ul class='manga__list'>
      {% for manga in manga_list %}
        <li>
          <div>
            <a href="{% url 'manga:manga-view' manga.url_key %}{% if manga.is_single_chapter %}1{% endif %}">
                <img src="{{ BASE_URL }}/{{ manga.cover_path }}" alt="{{ manga.name }}" />
                <span>{{ manga.name }}</span>
            </a>
          </div>
          {% if manga.author.all %}
          <div>
            Author: 
            {% for author in manga.author.all %}
              <a href="{% url 'person:person-view' author.slug %}">{{ author }}</a>{% if not forloop.last %},&nbsp;{% endif %}
            {% endfor %}
          </div>
          {% endif %}
          {% if manga.illustrator.all %}
          <div>
            Illustrator: 
            {% for illustrator in manga.illustrator.all %}
              <a href="{% url 'person:person-view' illustrator.slug %}">{{ illustrator }}</a>{% if not forloop.last %},&nbsp;{% endif %}
            {% endfor %}
          </div>
          {% endif %}
          {% if manga.tags.all %}
          <div class="manga__tag-list">
            Tags:&nbsp;
            {% for tag in manga.tags.all %}
              <a href="{% url 'tags:tag-view' tag.name %}">{{ tag }}</a>{% if not forloop.last %},&nbsp;{% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No Manga is available</p>
    {% endif %}
  </div>
{% endblock %}
