<!Doctype html>
<html lang="en">
    <head>
        <meta name="Author" content="Phuong Nguyen">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Djmanga Reader{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'global/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'global/responsive.css' %}">
        {% block stylesheets %}{% endblock %}
        {% block headscripts %}{% endblock %}
    </head>
    <body>
        {% block menubar %}
        <nav>
            <ul>
                <li><a href="{{ BASE_URL }}/admin">Admin</a></li>
                <li><a href="{{ BASE_URL }}/manga">Manga</a></li>
                <li><a href="{{ BASE_URL }}/tags">Tags</a></li>
                <li><a href="{{ BASE_URL }}/people">People</a></li>
                <li class='last'><a href="{{ BASE_URL }}/manga/scan/">Scan For Manga</a></li>
            </ul>
        </nav>
        {% endblock %}
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</html>