{% extends "base.html" %}

{% block title %}
  {{ book.name }} - Chapter
{% endblock %}

{% block content %}
  <div class='book'>
    <a href="{{ BASE_URL }}/book/{{book.url_key}}"><h1>{{ book.name }}</h1></a>
    {% include "book/people-block.html" %}
    
    <h2>Chapter {{ chapter.chapter }}</h2>

    {% include "book/chapter-nav.html" %}

    <ul class='book__page-list {% if chapter.read_left %}book__read-left{% else %} book__read-right {% endif %}'><!--
      {% for page in chapter.get_pages %}
        --><li>
            {% if forloop.first and chapter.get_prev is not False %}
            <a href="{{ chapter.get_prev }}" alt="Prev">
            {% elif forloop.last and chapter.get_next is not False %}
            <a href="{{ chapter.get_next }}" alt="Prev">
            {% endif %}
            <img src='{{ BASE_URL }}/{{ page.file_media_path }}' alt='Page {{ page.page }}' />
            {% if forloop.first or forloop.last %}
            </a>
            {% endif %}
        </li><!--
      {% endfor %}
    --></ul>

    {% include "book/chapter-nav.html" %}
  </div>
{% endblock %}