<div class="book__people">
    {% if book.author.all %}
    <div class="book__people-author">Author: 
    {% for author in book.author.all %}
        <a href="{% url 'person:person-view' author.slug %}">
        {{ author.name }}
        </a>
    {% endfor %}
    </div>
    {% endif %}
    {% if book.illustrator.all %}
    <div class="book__people-illustrator">Illustrator: 
    {% for illustrator in book.illustrator.all %}
        <a href="{% url 'person:person-view' illustrator.slug %}">
        {{ illustrator.name }}
        </a>
    {% endfor %}
    </div>
    {% endif %}
</div>