{% extends "base.html" %}

{% block title %}Djmanga Reader - Manga{% endblock %}

{% block content %}
  <div class='manga'>
    <h1>Djmanga Reader</h1>
    {% if manga_list %}
      <ul class='manga__list'>
      {% for manga in manga_list %}
        <li>
          <div>
            <a href="{% url 'manga:manga-view' manga.url_key %}{% if manga.is_single_chapter %}1{% endif %}">
                <img src="{{ BASE_URL }}/{{ manga.cover_path }}" alt="{{ manga.name }}" />
                <span>{{ manga.name }}</span>
            </a>
          </div>
          {% if manga.author %}
          <div>Author: {{manga.author}}</div>
          {% endif %}
          {% if manga.tags.all %}
          <div>
            Tags: 
            {% for tag in manga.tags.all %}
              {{ tag }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No Manga is available</p>
    {% endif %}
  </div>
{% endblock %}
