{% extends "base.html" %}

{% block title %}
  {{ manga.name }} - Djmanga Reader
{% endblock %}

{% block content %}
  <div class='manga'>
    <h1>{{ manga.name }}</h1>
    <div class="manga__tag-list">
      {% if manga.tags.all %}
      <div class="manga__tag-list">
        Tags:&nbsp;
        {% for tag in manga.tags.all %}
          <a href="{% url 'tags:tag-view' tag.name %}">{{ tag }}</a>{% if not forloop.last %},&nbsp;{% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <h2>Chapters</h2>
    <ul class='manga__list'>
      {% for chapter in manga.get_chapters %}
        <li>
          <div class='manga__list-manga'>
            <a href="{% url 'manga:manga-view' manga.url_key %}{{ chapter.chapter }}">
              <div><span>
                Chapter {{ chapter.chapter }}
                {% if chapter.name %}
                  - {{ chapter.name }}
                {% endif %}
              </span></div>
              <img src='{{ BASE_URL }}/{{ chapter.get_chapter_cover }}' alt='{{ chapter.name }}' />
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}